<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagingBase" version="1.2.3" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="ServiceStackSnapShot" version="3.9.59" targetFramework="net40" />
  <package id="Shift-it" version="1.5.0.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>