<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
   <add key="rabbitServer" value="localhost"/> 
   <!--   <add key="rabbitServer" value="content-dev-build.7digital.local"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
