<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DispatchSharp" version="0.1.11" targetFramework="net40" />
  <package id="MessagingBase" version="1.2.4" targetFramework="net40" />
  <package id="NSubstitute" version="1.7.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="ServiceStackSnapShot" version="3.9.71" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>